.mapContainer {
    width: 100%;
    height: calc(100% - #{$headerHeight});
}

.SFMapWrapper {
    width: calc(100% - 40px);
    height: calc(100% - 80px);

    border: 1px solid black;

    margin: 20px;
}